* {
    padding-bottom: 0;
    margin: 0;
}

.container {
    padding: 54px;
}

.container .image {
    text-align: right;
}

.container .image img {
    width: 15%;
}

.judul {
    text-align: center;
    border: 1px solid;
    margin-bottom: 15px;
    margin-top: 15px;
}

.tempat {
    text-align: right;
    margin-bottom: 15px;
}

.table table{
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
}

.table table .uraian {
    width: 50%;
}

.table table .jumlah {
    width: 35%;
}


.ttd {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ttd .isi {
  position: absolute;
  right: 30px;
  width: 300px;
  text-align: center;
}

.footer {
    border-top: 2px solid;
    padding: 0;
    margin-top: 34%;
    border-collapse: collapse;
    width: 100%;
    font-size: x-small;
}

.footer .tr{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
}

.footer .tr td{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.footer .tr p{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
