* {
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
}

.header {
    text-align: center;
    font-weight: bold;
}

.label {
    font-weight: bold;
}

.label2 {
    font-weight: bold;
    padding-left: 20px;
}

.label3 {
    font-weight: bold;
    font-size: x-small;
}

.separator1 {
    font-size: x-small;
}

.separator {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.value1 {
    font-size: x-small;
}

.footer {
    width: 100%;
    margin-top: 40px;
}

.footer .left {
    float: left;
    width: 45%;
    text-align: center;
}

.footer .right {
    float: right;
    width: 45%;
    text-align: center;
}
